body {
  background-image: url(https://image.musinsa.com/mfile_s01/2019/04/08/71d8744118807d5b86a3d7c2a283ce1e182320.jpg);

  background-size: auto;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f1f1f1;

  justify-content: center;
  align-items: center;
}

.container {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 43px;
  width: 450px;
  height: 100px;
  margin-left: 450px;
  margin-top: 50px;
  font-weight: 500;
  color: skyblue;
}

.title {
  text-align: center;
  margin: 0 auto;
}

#result-area {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  width: 580px;
  height: 45px;
  margin-left: 350px;
  margin-top: 170px;
  background-color: white;
}

#chance-area {
  font-size: 25px;
  width: 290px;
  height: 45px;
  margin-left: 350px;
  margin-top: 20px;
  background-color: white;
}
#user-input {
  font-size: 25px;
  width: 150px;
  height: 45px;
  margin-left: 350px;
  margin-top: 10px;
  background-color: white;
}

#play-button {
  font-size: 25px;
  color: white;
  border-color: white;
  width: 70px;
  height: 47px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: rgb(134, 187, 250);
  position: absolute;
}

#reset-button {
  font-size: 25px;
  color: white;
  border-color: white;
  width: 190px;
  height: 45px;
  margin-left: 110px;
  margin-top: 10px;
  background-color: rgb(134, 187, 250);
  position: absolute;
}

#user-input {
  width: 150px;
  height: 45px;
}

h1 {
  height: 10px;
  margin-left: 390px;
  margin-top: 30px;
}

h1 span {
  position: relative;
  top: 20px;

  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: "Titan One", cursive;
  font-size: 45px;
  color: #3394f6;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
